
/* Fixed sidenav, full height */
.sidenav {
       
    top: 0;
    left: 0;
    background-color: #F0F2F6;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #2f186b;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #2c62ea;
  }
  
  /* Main content */
  .main {
    /* margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 18px; /* Increased text to enable scrolling */
    padding: 2px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: rgb(187, 176, 210);
    color: #2f186b;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: rgb(187, 176, 210);
    padding-left: 8px;
    font-size: 16px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  } 
