pyiceberg[s3fs]>=0.7
pyiceberg[gcsfs]>=0.7
google.auth>=2.34.0
pandas>=2.0.0
fastapi[standard]
pyarrow>=17.0.0
uvicorn
gunicorn
getdaft[sql]>=0.4.6
packaging
httpx
authlib
itsdangerous
humanize
sqlglot